.faq {
  margin-top: 100px;
  padding: 0px 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 70px;

  h1 {
    max-width: 828px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: $color-white-50;
  }

  &-content {
    display: flex;
    flex-direction: column;

    &__info {
      border-top: 1px solid $color-cyan-600;
      border-bottom: 1px solid $color-cyan-600;
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      transition: .6s all;

      &-question {
        display: flex;
        align-items: center;
        gap: 10px;

        h3 {
          font-weight: 500;
          font-size: 25px;
          line-height: 30px;
          color: $color-cyan-600;
        }

        &__btn {
          cursor: pointer;
          position: relative;
          margin-left: auto;
          width: 30px;
          height: 29px;
          border-radius: 50%;
          background: $color-cyan-600;
          transition: .6s all;

          span {
            content: '';
            position: absolute;
            top: 14px;
            left: 9px;
            width: 12px;
            height: 1px;
            background: $color-white-50;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 12px;
              height: 1px;
              background: $color-white-50;
              transform: rotate(90deg);
              transition: .6s all;
            }
          }
        }
      }

      &-answer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        transition: .6s all;

        p {
          max-width: 780px;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: $color-cyan-600;
        }
      }
    }
  }
}

.faq-content__info.active .faq-content__info-answer {
  max-height: 600px;
  padding-top: 20px;
}

.faq-content__info.active .faq-content__info-question__btn {
  span {
    &::before {
      transform: rotate(0deg);
      transition: .6s all;
    }
  }
}

@media screen and (max-width: 920px) {
  .faq {
    padding: 50px 20px 0 20px;
    gap: 40px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 520px) {
  .faq {
    padding: 50px 20px 0 20px;
    gap: 20px;
    margin-top: 50px;

    &-content__info-question {
      h3 {
        font-size: 18px;
      }
    }

    &-content__info-answer {
      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .faq {
    margin-top: 20px;

    &-content__info-question {
      h3 {
        font-size: 14px;
      }
    }

    &-content__info-answer {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}